<ion-content >

  <div class="wrapper-logo" >
    <img alt="logo-betwinc" class="footer-icon" src="assets/img/betwinc-isotype.png">
  </div>

  <h1>Nutrinet</h1>

  <div class="wrapper-input" >
    
    <ion-list padding no-lines inset >
      <form #loginForm="ngForm" >
      
      <ion-item text-center>
        <h2>Ingresar a <span>Nutrinet</span> </h2> 
      </ion-item>
        
      <ion-item margin-bottom class="reveal-input"
      [ngClass]="{
        'ion-item--input__untoched' : useremail.pristine,
        'ion-item--input__valid' : useremail.valid,
        'ion-item--input__invalid' : useremail.invalid && (useremail.dirty || useremail.touched)
      }">
        <ion-label > <ion-icon ios="ios-mail-outline" md="md-mail"></ion-icon>  </ion-label>
        <ion-input type="email" name="useremail" [(ngModel)]="account.username" required email #useremail="ngModel" ></ion-input>
      </ion-item>

      <ion-item class="reveal-input" 
      [ngClass]="{
        'ion-item--input__untoched' : password.pristine,
        'ion-item--input__valid' : password.valid,
        'ion-item--input__invalid' : password.invalid && (password.dirty || password.touched)
      }">
        <ion-label > <ion-icon ios="ios-key-outline" md="md-key"></ion-icon> </ion-label>
        <ion-input type="password" name="userpassword" [(ngModel)]="account.password" required #password="ngModel" ></ion-input>
      </ion-item>

      <ion-item text-center class="reveal-input">
        <p class="text-right frgt-password" >Olvidé mi contraseña</p>
      </ion-item>

      <ion-item class="text-center reveal-input"> 
        <button *ngIf="!isLoading" ion-button block large (click)="doLogin()" [disabled]="!loginForm.valid" text-uppercase >Ingresar </button>
        <button *ngIf="isLoading" ion-button block large icon-only full disabled>
          <ion-spinner name="bubbles" color="light" ></ion-spinner>
        </button>
      </ion-item>

      </form>
    </ion-list>
  </div>

<!-- Footer -->
<footer class="text-center">   
  <a (click)="goToSignIn()" >¿Eres nuevo usuario?, <strong>Regístrate</strong> </a>
</footer>
<!-- End Footer -->

</ion-content>