page-login {
    ion-item {
      background: transparent !important;
    }
  
    .item-md {
      padding-left: 1.5rem !important;
    }
  
    .item-inner {
      box-shadow: 0 0 0 transparent !important;
    }
  
    .ion-item--input__untoched {
      border-width: 1px !important;
      border-style: solid !important;
      border-color: lightgray !important;
      box-shadow: 2px 2px 2px lightgray !important;
      border-radius: 5px !important;
    }
  
    .ion-item--input__valid {
      border-width: 1px !important;
      border-style: solid !important;
      border-color: lightgreen !important;
      box-shadow: 2px 2px 2px lightgreen !important;
      border-radius: 5px !important;
    }
  
    .ion-item--input__invalid {
      border-width: 1px !important;
      border-style: solid !important;
      border-color: lightcoral !important;
      box-shadow: 2px 2px 2px lightcoral !important;
      border-radius: 5px !important;
    }
  
    .text-center {
      text-align: center;
    }
  
    .reveal-logo {
      animation: opacityAscendent 1.5s ease-in-out;
      animation-fill-mode: forwards;
    }
  
    .reveal-input {
      animation: opacityAscendent 0.5s ease-in-out;
      animation-fill-mode: forwards;
    }
  
    @media (min-width: 320px) {
      .wrapper-logo {
        height: 35vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgb(60, 186, 84);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6290c', endColorstr='#42bad3', GradientType=1 );
      }
  
      img {
        width: 75px;
        height: 75px;
        border-radius: 6%;
        background: white;
        padding: 1.2rem;
      }
  
      h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -6rem;
        color: color($colors, light, base);
      }
  
      .wrapper-input {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
  
      h2 span {
        color: lightcoral;
      }
  
      .frgt-password {
        text-decoration: underline dotted;
      }
    }
  
    @media (min-width: 720px) {
      .wrapper-logo {
        height: 35vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
  
        background: rgba(246, 41, 12, 1);
        background: -moz-linear-gradient(
          left,
          rgba(246, 41, 12, 1) 0%,
          rgba(248, 80, 50, 1) 0%,
          rgba(88, 193, 177, 1) 0%,
          rgba(66, 186, 211, 1) 100%
        );
        background: -webkit-gradient(
          left top,
          right top,
          color-stop(0%, rgba(246, 41, 12, 1)),
          color-stop(0%, rgba(248, 80, 50, 1)),
          color-stop(0%, rgba(88, 193, 177, 1)),
          color-stop(100%, rgba(66, 186, 211, 1))
        );
        background: -webkit-linear-gradient(
          left,
          rgba(246, 41, 12, 1) 0%,
          rgba(248, 80, 50, 1) 0%,
          rgba(88, 193, 177, 1) 0%,
          rgba(66, 186, 211, 1) 100%
        );
        background: -o-linear-gradient(
          left,
          rgba(246, 41, 12, 1) 0%,
          rgba(248, 80, 50, 1) 0%,
          rgba(88, 193, 177, 1) 0%,
          rgba(66, 186, 211, 1) 100%
        );
        background: -ms-linear-gradient(
          left,
          rgba(246, 41, 12, 1) 0%,
          rgba(248, 80, 50, 1) 0%,
          rgba(88, 193, 177, 1) 0%,
          rgba(66, 186, 211, 1) 100%
        );
        background: linear-gradient(
          to right,
          rgba(246, 41, 12, 1) 0%,
          rgba(248, 80, 50, 1) 0%,
          rgba(88, 193, 177, 1) 0%,
          rgba(66, 186, 211, 1) 100%
        );
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6290c', endColorstr='#42bad3', GradientType=1 );
      }
  
      img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background: white;
        padding: 2rem;
        box-shadow: 1px 2px 3px black;
      }
  
      h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -5.5rem;
        color: color($colors, light, base);
      }
  
      .wrapper-input {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  
    @keyframes opacityAscendent {
      0% {
        opacity: 0.2;
      }
      15% {
        opacity: 0.3;
      }
      30% {
        opacity: 0.4;
      }
      60% {
        opacity: 0.5;
      }
      70% {
        opacity: 0.6;
      }
      80% {
        opacity: 0.7;
      }
      90% {
        opacity: 0.8;
      }
      100% {
        opacity: 1;
      }
    }
  }
