<!--
  Generated template for the PreparationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>preparation</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background-color: white;position: relative;">
  <div style="position: absolute; right: inherit;">
    <span class="page-number">3 de 3</span>
  </div>  
  <section class="column" style="background-color: #045c2b">
    <div style="width: 100%;height: 150px;">

    </div>
    <div class="column content-title">
      <ion-icon style="color:white;font-size: 30px" name="basket"></ion-icon>
      <span style="color: #9edf80;font-weight: 900; font-size: 15px">¿Quién preparó el alimento?</span>
    </div>
    <div class="divider-medium"></div>
  </section>
  <section class="check-section">
    <span>¿Quién preparó?</span>
    <div class="column content-check">
      <label for="yes" style="margin: 5px 0px" class="radio-button">
        <input id="yes" type="radio" name="radio" value="true" checked="checked">
        <span class="label-visible">
          <span class="fake-radiobutton"></span>
          <span style="font-weight: 600;">Preparado en casa</span>
        </span>
      </label>
      <label for="no" style="margin: 5px 0px" class="radio-button">
        <input id="no" type="radio" value="false" name="radio">
        <span class="label-visible">
          <span class="fake-radiobutton"></span>
          <span style="font-weight: 600;">Restaurante</span>
        </span>
      </label>
    </div>
    <div class="divider-medium"></div>
  </section>
  <section style="align-items: center" class="column">
    <span>Aconpañamiento</span>
    <span style="color: #39b56d;font-weight: 900; font-size: 15px">¿Desea agregar otro alimento?</span>
    <div style="min-width: 150px" class="row">
      <div class="accompaniment">
        <ion-icon style="color:#39b56d;font-size: 30px;font-weight: 600" name="checkmark"></ion-icon>
        <span>Si</span>
      </div>
      <div class="accompaniment">
        <ion-icon style="color:red;font-size: 30px;font-weight: 600" name="close"></ion-icon>
        <span>No</span>
      </div>
    </div>
  </section>

</ion-content>