page-preparation {

}


.column{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
}

.page-number{
    border-radius: 15px;
    width: 50px;
    height: 20px;
    display: flex;
    justify-content: center;
    background: #3aa2678f;
    align-items: center;
    color: white;
    font-size: 10px;
    margin: 5px 10px;
}

.accompaniment{
    display:flex;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px 10px;
}
.content-title{
    height: 120px;
    justify-content: center;
    align-items: center;
}

.check-section{
    height: 100px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.divider-medium{
    width: 100%;
    height: 5px;
    background-color: #6fcf97;
    margin: 0px
}


.content-check{
    min-height: 30px;
    align-items: flex-start;
    justify-content: center;
}

.radio-button,
.checkbox {
  position: relative;
  margin: 5px 0px;
  min-width: 60px;
}
.checkbox { display: block; }

.radio-button input,
.checkbox input {
  position: absolute;
  margin: 3px;
  padding: 0;
  /* for mobile accessibility (iOS Label Bug) */
  visibility: hidden;
}
.radio-button .label-visible,
.checkbox .label-visible {
  margin-left: 2em;
  margin-bottom: 0;
}

.fake-radiobutton,
.fake-checkbox{
  position: absolute;
  display: block;
  top: 0;
  left: 3px;
  width: 20px;
  height: 20px;
  border: 2px solid #3aa267;
  background-color: white;
}
.fake-radiobutton:after,
.fake-checkbox:after {
  content: "";
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  background: #3aa267;
  transform: translateX(-50%) translateY(-50%);
}

.fake-radiobutton { border-radius: 50%; }
.fake-radiobutton:after { border-radius: 50%; }

input[type="radio"]:checked + span .fake-radiobutton:after,
input[type="checkbox"]:checked + span .fake-checkbox:after { display: block; }