<!-- Generated template for the ViewquestionComponent component -->

    <ion-label class="title">{{pregunta.text}}<span *ngIf="isRequired">*</span></ion-label>

    <div [ngSwitch]="type">
        
      <!-- Inicio type select -->
        <ion-row *ngSwitchCase="'select'">
          <ion-col col-12>
            <ion-list>
              <ion-item text-wrap>
                  <ion-label>Opciones</ion-label>
                  <ion-select>
                    <ion-option *ngIf="respuestaEcha.selectedAnswer != null" (ionSelect)="mcqAnswer(respuestaEcha)" [selected]="true">{{respuestaEcha.answer}}</ion-option>
                    <template *ngFor="let answer of pregunta.offeredAnswers">
                      <ion-option *ngIf=" answer.value != respuestaEcha.answer " (ionSelect)="mcqAnswer(answer)" >
                          {{answer.value}}
                      </ion-option>                    
                    </template>
                  </ion-select>
              </ion-item>
              </ion-list>
          </ion-col>
        </ion-row>
        <!-- Fin type select -->

        <!-- Inicio type period input -->
        <ion-row *ngSwitchCase="'period-input'">
            <ion-col col-12>
                   <ion-list>     
                           <ion-item *ngFor="let placeholder of pregunta.placeholders; let i = index">                                
                                <ion-input (ionFocus)="checkRequired()" (ionBlur)=changInput(pregunta,placeholder.id,$event,placeholder) type="text" placeholder="{{placeholder.value}}"></ion-input>
                           </ion-item>
                   </ion-list>
           </ion-col>
       </ion-row>
        <!-- Fin type period input -->
 
        <!-- Inicio type period input -->
        <ion-row *ngSwitchCase="'text'">
          <ion-col col-12>
                 <ion-list>     
                         <ion-item>
                              <ion-input (ionFocus)="checkRequired()" (ionBlur)=changInput(pregunta,null,$event,placeholder) type="text" placeholder="" ></ion-input>
                         </ion-item>
                 </ion-list>
         </ion-col>
     </ion-row>
      <!-- Fin type period input -->

      <!-- Inicio type period input -->
      <ion-row *ngSwitchCase="'number'">
        <ion-col col-12>
               <ion-list>     
                       <ion-item>
                            <ion-input (ionFocus)="checkRequired()" (ionBlur)=changInput(pregunta,null,$event,placeholder) type="number" placeholder="" ></ion-input>
                       </ion-item>
               </ion-list>
       </ion-col>
      </ion-row>
      <!-- Fin type period input -->

        <!-- Inicio type date -->
        <ion-row *ngSwitchCase="'date'">
            <ion-col col-12>
                   <ion-list> 
                      <ion-item text-wrap>
                        <ion-label>Fecha</ion-label>    
                        <ion-datetime (ionFocus)="checkRequired()" (ionBlur)=changInput(pregunta,null,$event,placeholder) displayFormat="MM/DD/YYYY" placeholder="" ></ion-datetime>
                      </ion-item>
                   </ion-list>
           </ion-col>
       </ion-row>
        <!-- Fin type date -->

        <!-- Inicio type email -->
        <ion-row *ngSwitchCase="'email'">
            <ion-col col-12>
                   <ion-list> 
                      <ion-item text-wrap>
                        <ion-label>Email</ion-label>    
                        <ion-input (ionFocus)="checkRequired()" (ionBlur)=changInput(pregunta,null,$event,placeholder) type="text" placeholder="Email" ></ion-input>
                      </ion-item>
                   </ion-list>
           </ion-col>
       </ion-row>
        <!-- Fin type email -->

        <!-- Inicio type radio --> 
        <ion-row *ngSwitchCase="'radio'">
            <ion-col col-12>
                <ion-list radio-group [(ngModel)]="relationship">
                    <ion-item *ngFor="let answer of pregunta.offeredAnswers"  >
                      <ion-label>{{answer.value}}</ion-label>
                      <ion-radio value="answer.value" (ionSelect)="mcqAnswer(answer)" ></ion-radio>
                    </ion-item>
                  </ion-list>
           </ion-col>
       </ion-row>
        <!-- Fin type radio --> 

        <!-- Inicio type checkbox -->  
        <ion-row *ngSwitchCase="'checkbox'">
          <ion-col col-12>
                 <ion-list>     
                         <ion-item *ngFor="let offeredAnswers of pregunta.offeredAnswers; let i = index">  
                            <ion-label>{{offeredAnswers.value}}</ion-label>
                            <ion-checkbox (ionChange)="changInput(pregunta,offeredAnswers.id,$event)" ></ion-checkbox>                              
                         </ion-item>
                 </ion-list>
         </ion-col>
        </ion-row>
      <!-- Fin type checkbox -->

      <!-- Inicio type radio img --> 
      <ion-row *ngSwitchCase="'radio img'">
                
         <ion-grid text-center>
          <ion-row wrap>
            <ion-col width-33 *ngFor="let offeredAnswers of pregunta.offeredAnswers; let i = index" >
              <ion-img item-start width="80" height="80" src="assets/img/{{offeredAnswers.value}}"></ion-img>  
              <ion-radio value="offeredAnswers.value" (ionSelect)="mcqAnswer(offeredAnswers)" ></ion-radio> 
            </ion-col>                    
          </ion-row>
        </ion-grid> 

        </ion-row>
      <!-- Fin type radio img -->

    </div>
  
