<!--
  Generated template for the SaltProportionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>salt-proportion</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background-color: white;position: relative;">
  <div style="position: absolute; right: inherit;">
    <span class="page-number">2 de 2</span>
  </div>
  <section class="column" style="background-color: #045c2b">
    <div style="width: 100%;height: 150px;">

    </div>
    <div class="column content-title">
      <ion-icon style="color:white;font-size: 30px" name="basket"></ion-icon>
      <span style="color: white;text-align: center; margin: 0px 10px">Además de la sal incluida en la preparación de su
        alimento,</span>
      <span style="color: #9edf80;font-weight: 900; font-size: 15px">¿Usted añadió a éste más sal en la mesa?</span>
    </div>
    <div class="divider-medium"></div>
  </section>

  <section class="row content-all" style="justify-content: center;min-height: 300px">
    <div (click)="select.open()" class="select-salt">
      <div style="color: #bdbdbd" class="row between">
        <span class="select-proportion">{{firstValue.val1}}</span>
        <span class="select-proportion">{{secondValue.val1}}</span>
        <span class="select-proportion">{{thirdValue.val1}}</span>
      </div>
      <div class="divider-slow"></div>
      <div class="row between">
        <span class="select-proportion">{{firstValue.val2}}</span>
        <span class="select-proportion">{{secondValue.val2}}</span>
        <span class="select-proportion">{{thirdValue.val2}}</span>
      </div>
      <div class="divider-slow"></div>
      <div style="color: #bdbdbd" class="row between">
        <span class="select-proportion">{{firstValue.val3}}</span>
        <span class="select-proportion">{{secondValue.val3}}</span>
        <span class="select-proportion">{{thirdValue.val3}}</span>
      </div>
    </div>
    <div class="column" style="min-height:100px">
      <span style="color: black" class="select-proportion">
        <ion-icon style="color:#39b56d" name="checkmark"></ion-icon>
        Pizca
      </span>
      <span style="color: black" class="select-proportion">
        <ion-icon style="color:#cfcfcf" name="checkmark"></ion-icon>
        Cucharadita
      </span>
      <span style="color: black" class="select-proportion">
        <ion-icon style="color:#cfcfcf" name="checkmark"></ion-icon>
        Cucharada
      </span>
    </div>
    <ion-item style="visibility: hidden;">
      <ion-multi-picker #select item-content [cancelText]="'descartar'" [doneText]="'Aceptar'" (ionChange)="loadData($event)"
        [multiPickerColumns]="simpleColumns"></ion-multi-picker>
    </ion-item>
  </section>


</ion-content>