page-salt-proportion {

}

.column{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
}

.between{
    align-items: center;
    justify-content: space-between;
}

.select-proportion{
    height: 100%;
    flex: 1;
}

.divider-slow{
    width: 100%;
    height: 1px;
    background-color: #e2e2e2;
    margin: 5px 0px;
}

.accompaniment{
    display:flex;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px 10px;
}
.content-title{
    height: 120px;
    justify-content: center;
    align-items: center;
}

.check-section{
    height: 100px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.divider-medium{
    width: 100%;
    height: 5px;
    background-color: #6fcf97;
    margin: 0px
}


.content-check{
    min-height: 30px;
    align-items: flex-start;
    justify-content: center;
}

.page-number{
    border-radius: 15px;
    width: 50px;
    height: 20px;
    display: flex;
    justify-content: center;
    background: #3aa2678f;
    align-items: center;
    color: white;
    font-size: 10px;
    margin: 5px 10px;
}

.select-salt{
    margin: 10px 20px;
    width: 100%;
    max-width: 260px;
}

.content-all{
    align-items: center;

}