<ion-content scroll="false">
  
  
    <div class="wrapper-logo" >
      <img alt="logo-betwinc" class="footer-icon" src="assets/img/betwinc-isotype.png">
    </div>
    <div class="splash-intro">
      {{ 'WELCOME_INTRO' | translate }}
    </div>
  
  <div padding>
    <button ion-button block (click)="signup()">{{ 'SIGNUP' | translate }}</button>
    <button ion-button block (click)="login()" class="login">{{ 'LOGIN' | translate }}</button>
  </div>
</ion-content>
