page-content {
    .header-icon{
        height: 60px;
        float: left;
        margin-left: 10px;
    }

    .title{
        font-weight: normal !important;
        margin-top: 20px;
    }

    .listo{
        float: right;
        background-color: #CFFFA8;
    }
}
