<ion-header>
  <ion-grid>
    <ion-row>
      <ion-col> 
        <img class="header-icon" (click)="goToList()" src="assets/img/betwinc-isotype.png">
      </ion-col>
      <ion-col>
        <ion-title class="title">{{title}}</ion-title>
      </ion-col>
      <ion-col>
        <button class="listo" ion-button icon-only color="light" [disabled]="!activo" (click)="nextSlider()">Listo</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content padding>
  <ion-slides centerSlides="true" #slidesQuestion pager="false">
    <ion-slide *ngFor="let question of questionsacceso; let index = index">
      <viewquestion [pregunta]="question" [idSurvey]="idSurvey" [title]="title" [ansewacceso]="ansewacceso" (respuesta)="setSiguienteSlider($event);" (goToNext)="goToNextSlider($event);" ></viewquestion>
    </ion-slide>
  </ion-slides>
</ion-content>