<ion-content>


  <ion-header class="header">
    <img class="header-icon" src="assets/img/betwinc-isotype.png">
    <ion-title class="title">Cuestionarios de Alimentacion</ion-title>
  </ion-header>


  <ion-grid class="grilla">
    <ion-row >
      <ion-col *ngFor="let item of surveies" col-6 class="survey" (click)="selectSurvey(item.PollId)">
        <div></div>
        <p class="name" >{{item.name}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>