page-cards {
    .header{
        position:relative;
    }
   
    .title{
        font-weight: normal !important;
        margin-top: 20px;

    }
    .header-icon{
        height: 60px;
        float: left;
        margin-left: 10px;
    }

    .grilla{
        margin-top: 80px;
    }

    .survey{
        text-align: center;
        height: 160px;
    }

    .survey div{
        height: 70px;
        width: 70px;
        margin-left: 33%;
        border-radius: 100px;
        background-color: #CCCCCC;
    }

    .name{
        white-space: normal;
    }

}
