page-proportion {

}

.row{
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
}



.all-center{
    justify-content: center;
    align-items: center
}

.content-check{
    min-width: 120px;
}

.divider-medium{
    width: 100%;
    height: 3px;
    background-color: #e2e2e2;
    margin: 10px 0px;
}

.gr{
    border: 1px solid #9edf80;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    background: #9edf80;
    align-items: center;
    color: white;
}

.content-input{
    max-width: 80px;
    background-color: white;
    max-height: 26px;
    min-height: inherit !important;
    color: green;
    font-weight: 1000;
}

.page-number{
    border-radius: 15px;
    width: 50px;
    height: 20px;
    display: flex;
    justify-content: center;
    background: #3aa2678f;
    align-items: center;
    color: white;
    font-size: 10px;
    margin: 5px 10px;
}

.exactli{
    width: 150px;
    justify-content: space-between;
    align-items: center;
}

.divider-slow{
    width: 100%;
    height: 1px;
    background-color: #e2e2e2;
    margin: 2px 0px;
}

.strech-proportion{
    align-items: stretch;
    height: 150px;
}

.between{
    align-items: center;
    justify-content: space-between;
}

.proportion-label{
    margin-top: 15px;
    min-height: 24px;
}

.proportion{
    border:1px solid #0080006b;
    flex: 1;
}

.select-proportion{
    height: 100%;
    flex: 1;
}

@keyframes view {
    0% {background-color: white}
    100% {background-color: #21e25a3d;}
  }
.proportion-view{
    background-color: #21e25a3d;
    -webkit-animation-name: view; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
    animation-name: view;
    animation-duration: 0.5s; 
}

@keyframes select {
    0% {font-size: 14px}
    25% {font-size: 16px}
    50% {font-size: 18px}
    100% {font-size: 20px}
  }

.proportion-select{
    font-weight: 900;
    color: #3aa267;
    font-size: 20px;
    -webkit-animation-name: select; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
    animation-name: select;
    animation-duration: 0.5s; 
}

.radio-button,
.checkbox {
  position: relative;
  margin: 0px 0px;
}
.checkbox { display: block; }

.radio-button input,
.checkbox input {
  position: absolute;
  margin: 3px;
  padding: 0;
  /* for mobile accessibility (iOS Label Bug) */
  visibility: hidden;
}
.radio-button .label-visible,
.checkbox .label-visible {
  margin-left: 2em;
  margin-bottom: 0;
}

.fake-radiobutton,
.fake-checkbox{
  position: absolute;
  display: block;
  top: 0;
  left: 3px;
  width: 20px;
  height: 20px;
  border: 2px solid #3aa267;
  background-color: white;
}
.fake-radiobutton:after,
.fake-checkbox:after {
  content: "";
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  background: #3aa267;
  transform: translateX(-50%) translateY(-50%);
}

.fake-radiobutton { border-radius: 50%; }
.fake-radiobutton:after { border-radius: 50%; }

input[type="radio"]:checked + span .fake-radiobutton:after,
input[type="checkbox"]:checked + span .fake-checkbox:after { display: block; }
