<!--
  Generated template for the ProportionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>proportion</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background-color: white;position: relative;">
  <div style="position: absolute; right: inherit;">
    <span class="page-number">1 de 2</span>
  </div>
  <section style="padding-top: 20px" class="column all-center">
    <ion-icon style="color:#9edf80;font-size: 30px" name="leaf"></ion-icon>
    <span style="color: #3aa267;font-weight: 900; font-size: 20px">¿Es Orgánico?</span>
    <div class="row between content-check">
      <label for="yes" class="radio-button">
        <input id="yes" type="radio" name="radio" value="true" checked="checked">
        <span class="label-visible">
          <span class="fake-radiobutton"></span>
          <span style="font-weight: 600;">Sí</span>
        </span>
      </label>
      <label for="no" class="radio-button">
        <input id="no" type="radio" value="false" name="radio">
        <span class="label-visible">
          <span class="fake-radiobutton"></span>
          <span style="font-weight: 600;">No</span>
        </span>
      </label>
    </div>
    <div class="divider-medium"></div>
  </section>
  <section style="margin:10px 40px;position: relative;">
    <div>
      <ion-icon style="font-size: 22px;color:#3aa267;" name="done-all"></ion-icon> Seleccione la letra que mas se
      parezca a la proporcion consumida
    </div>
    <div class="row between" style="height: 85%;width: 100%;position: absolute">
      <span class="select-proportion" style="flex: 0.5" (click)="changeProportion('A')"></span>
      <span class="select-proportion" (click)="changeProportion('B')"></span>
      <span class="select-proportion" (click)="changeProportion('C')"></span>
      <span class="select-proportion" (click)="changeProportion('D')"></span>
      <span class="select-proportion" style="flex: 0.5" (click)="changeProportion('E')"></span>
    </div>
    <div class="row between proportion-label">
      <span (click)="changeProportion('A')" [ngClass]="{'proportion-select':(proportion=='A')}">A</span>
      <span (click)="changeProportion('B')" [ngClass]="{'proportion-select':(proportion=='B')}">B</span>
      <span (click)="changeProportion('C')" [ngClass]="{'proportion-select':(proportion=='C')}">C</span>
      <span (click)="changeProportion('D')" [ngClass]="{'proportion-select':(proportion=='D')}">D</span>
      <span (click)="changeProportion('E')" [ngClass]="{'proportion-select':(proportion=='E')}">E</span>
    </div>
    <div class="row strech-proportion">
      <span [ngClass]="{'proportion-view':(proportion>'A')}" (click)="changeProportion('B')" class="proportion"></span>
      <span [ngClass]="{'proportion-view':(proportion>'B')}" (click)="changeProportion('C')" class="proportion"></span>
      <span [ngClass]="{'proportion-view':(proportion>'C')}" (click)="changeProportion('D')" class="proportion"></span>
      <span [ngClass]="{'proportion-view':(proportion>'D')}" (click)="changeProportion('E')" class="proportion"></span>
    </div>
  </section>
  <section class="row all-center">
    <span style="font-weight: 900">
      Cantidad
      <!-- <span style="color: #3aa267;font-size: 20px">{{quantity}}</span> -->
    </span>
    <ion-item style="max-width: 60px" class="content-input"> 
      <ion-input type="number" value=""></ion-input>
    </ion-item>
  </section>
  <section>
    <div (click)="select.open()" style="margin: 10px 55px">
      <div style="color: #bdbdbd" class="row between">
        <span class="select-proportion">{{firstValue.val1}}</span>
        <span class="select-proportion">{{secondValue.val1}}</span>
        <span class="select-proportion">{{thirdValue.val1}}</span>
      </div>
      <div class="divider-slow"></div>
      <div class="row between">
        <span class="select-proportion">{{firstValue.val2}}</span>
        <span class="select-proportion">{{secondValue.val2}}</span>
        <span class="select-proportion">{{thirdValue.val2}}</span>
      </div>
      <div class="divider-slow"></div>
      <div style="color: #bdbdbd" class="row between">
        <span class="select-proportion">{{firstValue.val3}}</span>
        <span class="select-proportion">{{secondValue.val3}}</span>
        <span class="select-proportion">{{thirdValue.val3}}</span>
      </div>
    </div>
    <ion-item style="visibility: hidden;">
      <ion-multi-picker #select item-content [cancelText]="'descartar'" [doneText]="'Aceptar'" (ionChange)="loadData($event)" [multiPickerColumns]="simpleColumns"></ion-multi-picker>
  </ion-item>
  </section>
  <section style="margin:0px 20px">
    <span style="color: #3aa267;font-weight: 700">Si conoces la proporcion exacta, señálala</span>
    <div class="row between">
      <div class="row exactli">
        <ion-icon style="font-size:50px;color:#3aa267" name="checkmark"></ion-icon>
        <span style="font-weight: 600;">Porción exacta</span>
        <ion-icon style="font-size:30px;color: #9edf80" name="speedometer"></ion-icon>
      </div>
      <div style="flex:1;justify-content: flex-end;align-items: center;font-weight: 700" class="row">
        <!-- <span style="text-decoration: underline;font-weight:1000 ;color:green;font-size: 18px;margin: 0px 5px">{{proportionAmount}}</span> -->
        <ion-item class="content-input">
          <ion-input type="number" value=""></ion-input>
        </ion-item>
        <span class="gr">gr</span>
      </div>
    </div>
  </section>
</ion-content>